.SetD {
            position: absolute; 
            z-index: 1; 
            top: 0; 
            left: 0; 
            opacity: 0.9;
        }
        td {
             background-color: silver;
             width: 40px; 
             height: 40px; 
             min-width: 40px; 
             min-height: 40px;
             position: relative; 
             padding: 0;
         }
        body {

            display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            background-color: Snow;
        }
        #genDiv { 
            padding: 10px;
            margin-top: 20px;
            border: 2px solid black; 
            min-width: 400px; 
            max-width: 400px; 
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap;
        } 
        
        .hide {
            display: none;
        }
        .backlight {
           background:  rgb(255, 72, 31);
        }

        .app-actions {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .app-action {
            border-radius: 20px;
            background-color: Gainsboro;
            width: 210px;
            padding: 10px;
            font-size: 20px;
            margin: 10px;
        }

        .app-body{
            margin-top: 75px;
        }






























